<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>Sky's The Limit - Giving tech to those in need!</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript">
		var tabs = ["review-app","edit-prof"];
		
		function newtab(id) 
		{
			console.log("Activating tab: " + id);
			for (thing2 in tabs) 
			{
				var unactive_tab = tabs[thing2];
				
				var tab = document.getElementById(unactive_tab);
				var tabContent = document.getElementById(unactive_tab + "-tab");
				
				if (unactive_tab == id) {
					tab.className = "active";
					tabContent.style = "display:block";
				}
				else {
					tab.className = "";
					tabContent.style = "display:none";
				}
			}
			return false;
		};
		
        // Wait for the page to load first
        window.onload = function() 
		{
			for (thing in tabs) 
			{
				var active_tab = tabs[thing];
				document.getElementById(active_tab).onclick = function() { newtab(this.getAttribute("id")); };
			}
        };
    </script>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h5 style="text-align:right">Hello $Username</h5>
				<h5 style="text-align:right">
					<form action="log_out" class="inline">
						<button id="LogoutButton" type="submit" class="btn btn-lg btn-info">Logout</h5></button>
					</form>		
			<div style="max-width:860px;margin-left:auto;margin-right:auto">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<div class="navbar-brand">$Username</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li id="review-app" class="active"><a href="#">Review Applications</a></li>
							<li id="edit-prof"><a href="#">Edit Profile Info</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div id="review-app-tab" style="display:block">
				<div class="page-header">
				<h3>Review Applications</h3>
				
				<table class="table table-condensed">
					<thead>
		              	<tr>
		                	<th><h3>Organization Name</h3></th>
		                	<th style="text-align:right"><h3>Status</h3></th>
		              	</tr>
		            </thead>
		            <tbody>
						<% for(var i=0; i<table.length; i++)  {%>
					<tr>
						<% var col = table[i]; %><br/><% var status = col["status"]; var organization = col["organization"]; var uniqueId = col["id"];%>
							
						<% if (status == 0){ %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="In Progress" type="submit" class="btn btn-lg btn-primary">In Progress</button></form></td>
						<% } else if(status == 1) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Open" type="submit" class="btn btn-lg btn-info">Open</button></form></td>
						<% } else if(status == 2) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Under Review" type="submit" class="btn btn-lg btn-info">Under Review</button></form></td>
						<% } else if(status == 3) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Accepted" type="submit" class="btn btn-lg btn-success">Accepted</button></form></td>		
						<% } else if(status == 4) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Declined" type="submit" class="btn btn-lg btn-danger">Declined</button></form></td>
						<% } else if(status == 5) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Declined with comments" type="submit" class="btn btn-lg btn-warning">Declined with comments</button></form></td>
						<% } else if(status == 6) { %>
							<td><h4><%=organization%></h4></td>
							<form method="post" action="get_application"><input type="hidden" name="id" value="<%= uniqueId %>">
							<td style="text-align:right"><button name="Closed" type="submit" class="btn btn-lg btn-success">Closed</button></form></td>				
						<% }
						%>
					</tr>
						<% } %>
					
		            </tbody>
		    	</table>
		    	</div>
			</div>
			<div id="edit-prof-tab" style="display:none">
				<form class="page-header">
					<h3>Edit Profile Info</h3>
					Full Name:</br>
					<input type="text" name="FullNameOfUser"></br>
					Email:</br>
					<input type="text" name="Email"></br>
					Old Password:</br>
					<input type="text" name="OldPassword"><br>
					Password:</br>
					<input type="text" name="Password"><br>
					Verify your Password:</br>
					<input type="text" name="VerifiedPassword"><br></br>
					<p><button type="submit" class="btn btn-lg btn-info">Submit</button></p>
				</form>
			</div>
			</div>
		</div>
	</div>

</body>
</html>
